{% extends 'base.html.twig' %}

{% block title %}
    Категории - {{ parent() }}
{% endblock %}

{% block body %}
    {% for category in category %}
        <a href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
        <hr>
    {% endfor %}
{% endblock %}